/* .header{
    background-color: red;
} */
/* .banner{
    background-color: green;
}
.projects{
    background-color: blue;
} */
body,
html{
    overflow-y: scroll;
}
body,
html,
main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

/*
 *
 * Header
 *
 */

header{
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.header-inner{
    height: 100%;
    width: 100%;
    /* border-bottom: 4px solid #546A76; */
}
.logo{
    height: 120px;
    margin-right: 1em;
    vertical-align: top;
    float: left;
    padding-left: 0;
    padding-right: 15px;

}
.name{
    padding-top: 1px;
    text-align: right;
    white-space: nowrap;
    color: #734B5E;
}

/*
 *
 * Content
 *
 */

.content{
    border-top: 4px solid #546A76;
    height: 100%;
}

/*
 *
 * Banner
 *
 */

.banner{
    height: 90%;
}
.banner-image {
    padding-top: 30px;
    height: 90%;
    width: 100%;
}

/*
 *
 * Projects
 *
 */

.projects{
    height: 50%;
    width: 100%;
    padding-bottom: 75;
}
.item{
    height: 100%;
    max-width: 100%;
    /* padding-left: 20px; */
    padding-top: 20px;
}
.first{
    /* padding-left: 0; */
}
.item-image{
    max-width: 90%;
    max-height: 70%;  
}

img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    height: 100%;
}